<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="PaymentTransactionView" content="width=device-width, initial-scale=1.0">
    <title>payment successfully</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Payment Status Page</h1>
    <p>Your payment has been successfully completed.</p>

    <p>${id}</p>
    <p>${cardNumber}</p>
    <p>${cvv}</p>
    <p>${mm}</p>
    <p>${password}</p>
</body>
</html>